.wrapper{
    height: auto;
    position: relative;
}
.circle{
    position: relative;
    left:10px;
    z-index: -1;
    width: 14%;
    top: 9px;
}
.card{
    height: 8rem;
    margin: 20px 10px;
    border-radius: 30px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    backdrop-filter: blur(14px);
    transition: 0.3s;
    width: 20%;
    margin-top: 20px;
}
.card:hover{
    box-shadow: 10px 8px 16px 0 rgba(99, 97, 97, 0.2);
}
.half-circle-img{
    position: absolute;
    right: 0px;
    height:25rem;
}
.full-circle-img{
    position: absolute;
    left: 2px;
    top: 44rem;
    height:16rem;
}
@media(max-width:425px){
    .card{
        width: 70%;
        align-items: center;
    }
    .mobile-card-logo{
        margin-left: 20px;
    }
}