.wrapper {
  height: auto;
  position: relative;
}
.web-circle {
  width: 20%;
  z-index: -1;
}
.web-postion {
  margin-left: -40px !important;
}
.Ellipse-circle {
  z-index: -1;
}
.partners-title {
  /* margin-left: -39px !important; */
}
.img38 {
  z-index: -1;
  margin-top: -41px !important;
  margin-right: 85px !important;
}
.card-container-partners {
  /* border-color:#FFC727; */
  margin-top: 80px;
  border: 1px solid #ffc727;
  background-color: white;
  height: 4rem;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
  text-align: center;
  transition: 0.3s;
  width: 80%;
}

.card-container-partners:hover {
  box-shadow: 10px 8px 16px 0 rgba(99, 97, 97, 0.2);
}

.parnter-img {
  width: 15%;
  height: 2rem;
  margin-top: 20px;
  margin-left: 20px;
}

.Experiential {
  height: auto;
  width: 80%;
  margin-left: 5rem;
  margin-top: 5rem;
}
.vector {
  width: 20%;
  height: auto;
  margin-left: 20rem;
}
.rectangle25 {
  z-index: -1;
}
.rectangle24 {
  margin-left: -10rem !important;
  margin-top: 8px;
  width: 80%;
}

.ellipse-37 {
  z-index: -1;
  width: 18%;
  height: 4rem;
  margin-top: 20px;
}
.ellipse-37-title {
  margin-left: -30px !important;
  margin-top: 40px !important;
}

/* @media(max-width:2560px){
  .web-circle {
    width: 10%;
    z-index: -1;
}
.x-larger{
  margin-left: -2rem !important;
}
} */

@media (max-width: 1440px) {
  .rectangle25 {
    margin-left: 60px !important;
    width: 20%;
  }
  .rectangle24 {
    margin-left: -1rem !important;
    margin-top: -25rem !important;
  }
  .web-circle {
    width: 18%;
    z-index: -1;
  }
  .x-larger {
    margin-left: 24rem !important;
  }
  .web-lg{
    margin-left: 14rem !important; 
   }
   .Experiential {
    height: auto;
    width: 80%;
    margin-left: 8rem;
    margin-top: 9rem;
  }
  .vector {
    width: 55%;
    height: auto;
    margin-left: 17rem;
    margin-top: 1rem;
  }
}
@media (max-width: 1024px) {
  .rectangle25 {
    margin-left: 79px !important;
    width: 20%;
  }
  .rectangle24 {
    margin-left: 2rem !important;
    margin-top: -19rem !important;
  }
  .web-circle {
    width: 20%;
    z-index: -1;
  }
  .x-larger {
    margin-left: 18rem !important;
  }
  .web-lg{
   margin-left: 13rem !important; 
  }
  .Experiential {
    height: auto;
    width: 80%;
    margin-left: 8rem !important;
    margin-top: 9rem !important;
  }
  .vector {
    width: 55%;
    height: auto;
    margin-left: 14rem !important;
    margin-top: 1rem !important;
  }
}

@media (max-width: 768px) {
  .rectangle25 {
    z-index: -1;
    margin-left: 98px !important;
    margin-top: 7rem !important;
    width: 27%;
  }
  .rectangle24 {
    margin-left: 0rem !important;
    width: 100%;
    margin-top: -38rem !important;
  }
  .card-container-partners {
    height: 4rem;
    width: 95%;
    margin-left: 17px !important;
  }
  .web-lg{
    margin-left: 12rem !important; 
   }
   .Experiential {
    height: auto;
    width: 80%;
    margin-left: 3rem !important;
    margin-top: 9rem !important;
  }
  .vector {
    width: 55%;
    height: auto;
    margin-left: 14rem !important;
    margin-top: 1rem !important;
  }
  }

@media (max-width: 425px) {
  .mobile-view-container {
    margin-top: 30px;
  }
  .Ellipse-circle {
    margin-top: 20px;
  }
  .mobile-circle {
    width: 52px !important;
    height: 3rem !important;
    margin-top: 36px !important;
  }
  .mobile-postion {
    margin-left: -30px !important;
  }
  .img38 {
    margin-top: -182px !important;
    margin-right: 10px !important;
  }
  .card-container-partners {
    height: 25rem;
    width: 80%;
    margin-left: 2rem !important;
  }
  .card-mobile-view-partner {
    display: flex;
    flex-wrap: wrap;
  }
  .parnter-img {
    width: 70%;
    height: 2.3rem;
    margin-top: 20px;
    margin-left: 50px;
  }
  .Experiential {
    height: auto;
    width: 60%;
    margin-left: 5rem !important;
    margin-top: 1rem !important;
  }
  .vector {
    width: 40%;
    height: auto;
    margin-left: 10rem !important;
  }
  .rectangle25 {
    z-index: -1;
    margin-left: 99px !important;
    width: 23% !important;
    margin-top: 36px !important;
  }
  .rectangle24 {
    margin-left: -9rem !important;
    margin-top: 40px !important;
    width: 82%;
  }
  .ellipse-37 {
    width: 14%;
    height: 3rem;
    margin-top: 25px;
  }
  .ellipse-37-title {
    margin-left: -30px !important;
    margin-top: 40px !important;
  }
  /* .mobile-view {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: -13px !important;
    margin-right: 137px !important;
  } */
  .mobile-view-rightarrow {
    margin-left: 112px;
  }
  .web-lg{
    margin-left: 9rem !important; 
   }
}
@media (max-width: 375px) {
  .mobile-view-container {
    margin-top: 30px;
  }
  .Ellipse-circle {
    margin-top: 20px;
  }
  .mobile-circle {
    width: 52px !important;
    height: 3rem !important;
    margin-top: 36px !important;
  }
  .mobile-postion {
    margin-left: -30px !important;
  }
  .img38 {
    margin-top: -201px !important;
    margin-right: 10px !important;
  }
  .card-container-partners {
    height: 25rem;
    width: 80%;
    margin-left: 2rem !important;
  }
  .card-mobile-view-partner {
    display: flex;
    flex-wrap: wrap;
  }
  .parnter-img {
    width: 70%;
    height: 2.3rem;
    margin-top: 20px;
    margin-left: 50px;
  }
  .Experiential {
    height: auto;
    width: 60%;
    margin-left: 5rem;
    margin-top: 5rem;
  }
  .vector {
    width: 41%;
    height: auto;
    margin-left: 9rem !important;
  }
  .rectangle25 {
    z-index: -1;
    margin-left: 65px !important;
    width: 23% !important;
    margin-top: 36px !important;
  }
  .rectangle24 {
    margin-left: -7rem !important;
    margin-top: 40px !important;
    width: 82%;
  }
  .ellipse-37 {
    width: 14%;
    height: 3rem;
    margin-top: 25px;
  }
  .ellipse-37-title {
    margin-left: -30px !important;
    margin-top: 40px !important;
  }
  /* .mobile-view {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 13px !important;
    margin-right: 137px !important;
  } */
  .mobile-view-rightarrow {
    margin-left: 112px;
  }
  .x-larger{
    margin-left: 15rem !important;
  }
  .web-lg{
    margin-left: 9rem !important; 
   }
}
