.wrapper{
    height: auto;
    position: relative;
    z-index: -1;
}
.footer-cover{
    height: 35rem;
    width: 100%;
    background: #ffc727;
    border-top-right-radius: 43%;
    clear: both;
    -webkit-transform: perspective(400px) rotateX(0deg);
    margin-top: 100px;
}

.first-footer-row{
    height: 10rem;
}
.dot-img-first{
    width: 10%;
    margin-top: -1rem !important;
    margin-left: 35rem;
}
.dot-img-second{
    width: 10%;
    margin-top: 15px;
    margin-left: 33rem;
}

.icon-img{
    border-radius: 50%;
    background-color: black;
    width: 1.9rem;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.img-dot{
    position: absolute;
    bottom: 27px;
    right: 60px;
}
.footer-log-img{
    align-self: center;
    width: 70%;
    height: max-content;
}
.chat{
    background-color: #ffffff;
    width: 6%;
    padding: 2%;
    border-radius: 68%;
    position: absolute;
    bottom: 6rem;
    right: 20px;
}
.customer{
    background-color: #ffffff;
    width: 6%;
    padding: 2%;
    border-radius: 68%;
    position: absolute;
    bottom: 12rem;
    right: 1.5rem;

}


@media(max-width:1024px){
    .footer-cover{
        height: auto;
        border-top-right-radius: 30%;
    }
    .customer{
        bottom: 10rem;  
    }
    .chat{
        bottom: 5rem;
    }
    .img-dot {
        display: none;
   }
}
@media(max-width:768px){
    .footer-cover{
        height: auto;
        border-top-right-radius: 30%;       
    }
    .footer-log-img{
        align-self: center;
        width: 30% !important;
        height: max-content;
    }
    .chat{
        width: 9%;
        padding: 2%;
        bottom: 4rem;
    }
    .customer{
        width: 9%;
        padding: 2%;
        bottom: 9rem;
        
   }
  
}

@media(max-width:425px){
    .footer-cover{
        height: auto;
        border-top-right-radius: 30%;
       
    }
    .dot-img-first{
        width: 20%;
        margin-top: -3rem !important;
        margin-left: 16rem;
    }
    .dot-img-second{
        width: 20%;
        margin-top: 15px;
        margin-left: 14rem;
    }
    .chat{
        width: 14%;
        padding: 3%;
        bottom: 4rem;
    }
    .customer{
        width: 14%;
        padding: 3%;
        bottom: 9rem;
    }
}

@media(max-width:375px){
    .footer-cover{
        height: 80rem !important;
        border-top-right-radius: 30%;
       
    }
    .chat{
        bottom: 7rem;
    }
    .customer{
        bottom: 12rem;
    }
}

